@import "../../styles/variables.scss";
.item-list-page {
  margin: 100px 5%;
  min-height: 90vh;
  @media screen and (max-width: 600px) {
    margin: 80px 5%;
  }
  .item-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin: 0 5%;
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      .item-search {
        margin-bottom: 1rem;
      }
    }
    .item-search {
      margin-right: 1rem;
    }

    .sort-dropdown {
      display: flex;
      align-items: center;
      font-size: 1rem;

      label {
        margin-right: 0.5rem;
      }

      select {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
        background-color: $white-color;
        font-size: 1rem;

        &:focus {
          outline: none;
          border-color: $primary-color;
        }
      }
    }
  }

  .item-list {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: auto;

    .item-wrapper {
      width: 25%;
      box-sizing: border-box;
      padding: 0 10px;
      margin-bottom: 20px;
      &:hover {
        transform: scale(1.1);
      }
    }

    @media screen and (max-width: 1200px) {
      .item-wrapper {
        width: 33.33%;
      }
    }

    @media screen and (max-width: 800px) {
      .item-wrapper {
        width: 50%;
      }
    }

    @media screen and (max-width: 600px) {
      .item-wrapper {
        width: 100%;
        margin: auto;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    button {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: $white-color;
      margin: 0 5px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }

      &.active {
        background-color: $primary-color;
        color: $white-color;
        border-color: $primary-color;
      }
    }
  }
}
