$primary-color: #00bbff;
$secondary-color: #ffecd1;
$secondary-color-50: #fdfffc;
$primary-color-dark: #001524;
$secondary-color-dark: #706f6f;
$white-color: #ffffff;
$black-color: #000000;
$backgrounds: #282c34;
