@import 'styles/variables';
.header {
  background-color: $backgrounds;
  height: 120px;
  display: flex;
  align-items: center;
  color: $primary-color;
  a {
    color: $primary-color;
    text-decoration: none;
  }
  .icon {
    height: 40px;
    width: 40px;
  }
  .logo {
    color: $primary-color;
    margin-left: 20%;
    width: max-content;
    font-size: 60px;
  }
  .cart {
    position: absolute;
    right: 70px;
  }
}
