@import 'styles/variables';
.SideBar {
  background-color: $primary-color-50;
  color: $white-color;
  height: 100vh;
  min-width: 170px;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 80px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    width: 100%;
    bottom: 80px;
    top: 70%;
    height: calc(100% - 100px);
    padding: 0.5rem;
  }
}
