@import "../../styles/variables.scss";
.breadcrumbs {
  margin-left: 5%;
  padding-bottom: 10px;
  display: flex;
  a {
    color: $primary-color;
    text-decoration: none;
  }

  .breadcrumbs-greater {
    margin: 0 5px;
  }
  @media screen and (max-width: 600px) {
    padding-top: 120px;
    padding-bottom: 0;
  }
}
