.item-detail-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto 100px;
  min-height: 90vh;

  .item-image {
    margin: 0 0 0 20%;
    img {
      height: 30vw;
    }
  }

  .item-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 20px;

    .item-brand {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .item-model {
      font-size: 1.2rem;
      margin-top: 10px;
    }

    .item-price {
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 20px;
    }
    .item-description-label {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 20px 0;
      text-decoration: underline;
    }
    .item-options {
      .item-option {
        .item-option-selector {
          display: flex;
          flex-direction: column;
          margin-top: 20px;

          option {
            font-size: 1.2rem;
            margin-bottom: 10px;
          }

          select {
            padding: 10px;
            font-size: 1.2rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
          }
        }
      }
    }

    .item-add-to-cart {
      button {
        padding: 10px 20px;
        font-size: 1.2rem;
        background-color: #ff9900;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
